.navbar{
    background: $grisClaro;

    a{
        color: #000;
        font-size: 1.25rem;
        &:hover{
            color: rgba(0, 0, 0, 0.603);
        }
    }

    .collapsed{
        margin-right: 15px;
    }


    .JC{
        background: #fff;
        border-radius: 50%;
        text-align: center;
        padding: 5px 10px;
        margin-left: 10px;
    }
    
}

