.navbar{
    background: $grisClaro;
    ul{
        li{
            a{
                color: #000;
                font-size: 1.125rem;
                &:hover{
                    color: rgba(0, 0, 0, 0.603);
                }
            }

            .JC{
                background: #fff;
                border-radius: 50%;
                text-align: center;
                padding: 5px 10px;
            }
        }
    }
}
