@media screen and (max-width:990px){
    .navbar{
        ul{
            li{
                .JC{
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

}
@media screen and (max-width:768px){
    html{
        font-size:12px;
    }
}

@media screen and (max-width:470px){
    html{
        font-size:8px;
    }
}

@media screen and (max-width:310px){
    html{
        font-size:5px;
    }
}