.textoTrabajos{
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 2.125rem;
}

.cajaTrabajos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .trabajo{
        width: 250px;
        margin: 20px 30px 10px 30px;    

        img{
            width: 100%;
            border-radius: 10px;
            box-shadow: 10px 10px 10px rgb(173, 171, 171);

            &:hover{
                opacity: 0.8;
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    h6{
        text-align: center;
        margin: 20px 0 0 0;
        color: rgb(78, 154, 253);
        font-size: 1.125rem;
        
    }
}