// Variables
$grisOscuro : #323232;
$celeste : #9DC6EC;
$grisClaro : #a8a8a83f ;


@import 'generales';
@import 'inicio';
@import 'navbar';
@import 'sobreMi';
@import 'trabajos';
@import 'contacto';
@import 'footer';
@import 'responsive';